#testimonials{
    padding-top: 50px;
   padding-bottom: 50px;
}
#testimonials .row{
    margin-top:30px;
   
}
.col-md-4{
    margin: 40px auto;
}
.profile{
    padding:70px 10px 40px;
    background-color: #efefef;
    padding-left: 20px;
}
.user{
    width: 120px;
    height:120px;
    border-radius: 50%;
}
.profile img{
    top:-60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color:#007bff;
}
#testimonials span{
    font-size: 12px;
    color: #333;
}

blockquote{
    font-size: 16px;
    line-height: 30px;
    position: relative;
}

blockquote p::before{
    content: "\201C";
    font-size: 30px;
    color: #007bff;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}

blockquote p::after{
    content: "\201D";
    font-size: 30px;
    color: #007bff;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    transition: .5s;  
}